<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Affectations du {{ todayDate  | date:'d/MM/yy'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
   <ion-item *ngIf="!affectation.utilisateur;">

      <ion-label>utilisateur</ion-label>
      <ion-select  value="brown" okText="Valider" cancelText="Annuler" [(ngModel)]="affectation.utilisateur">
        <ion-select-option *ngFor="let item of utilisateur" value="{{ item.nom }} {{ item.prenom }}">{{ item.nom }} {{ item.prenom }}</ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="affectation.utilisateur;">
      <ion-label>utilisateur</ion-label>
      <ion-input required type="text" disabled [(ngModel)]="affectation.utilisateur"></ion-input>
    </ion-item>


    <ion-item *ngIf="!affectation.ordinateur;">
    <ion-label>Ordinateur</ion-label>
    <ion-select value="brown" okText="Valider" cancelText="Annuler" [(ngModel)]="affectation.ordinateur">
      <ion-select-option *ngFor="let item of ordinateur" value="{{ item.nomOrdinateur }}">{{ item.nomOrdinateur }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="affectation.ordinateur;">
    <ion-label>utilisateur</ion-label>
    <ion-input required type="text" disabled [(ngModel)]="affectation.ordinateur"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>cliquez pour voir
      <ion-button size="small" (click)="getAffectationsHours();">les créneaux disponibles</ion-button>
    </ion-label>
  </ion-item>

  <ion-radio-group [(ngModel)]="affectation.heureSelected">
    <ion-list-header>

    </ion-list-header>
    <ion-item class="heures"  *ngFor="let item of affectationSelect">
      <ion-label>{{ item }}h00 - {{ item+1 }}h00  </ion-label>
      <ion-radio slot="start" value="{{ item }}" checked></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>

  <ion-button expand="full" (click)="saveAffectation()">Enregistrer</ion-button>
</ion-content>
