<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Affectation des ordinateurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="wrapitem">
      <ion-avatar>
        <img src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png">
      </ion-avatar>
      <ion-label>Bonjour Administrateur</ion-label>
    </div>
  </ion-card>

  <ion-toolbar color="successs">
    <ion-title>Liste des affectations</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ng-container *ngIf="!affectations || affectations.length == 0">
          <div *ngFor="let n of [0,1,2, 3]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of affectations">
          <ion-item>
            <ion-label>
              {{item.utilisateur}} {{item.prenom}} - {{ item.ordinateur}}
              <p>{{ item.heureSelected }}h00</p>
            </ion-label>
            <ion-note slot="end" color="primary"></ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="remove(item)" color="danger">
              <ion-icon slot="top" name="trash"></ion-icon>
              Supprimer
            </ion-item-option>
            <ion-item-option button [routerLink]="['/affectations', item.id]" color="secondary">
              <ion-icon slot="top" name="create"></ion-icon>
              Modifier
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-toolbar color="successs">
    <ion-title>Liste des ordinateurs</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>

      <ion-list>
        <ng-container *ngIf="!ordinateurs || ordinateurs.length == 0">
          <div *ngFor="let n of [0,1,2, 3]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of ordinateurs">
          <ion-item>
            <ion-label>
              {{item.nomOrdinateur}}
              <p></p>
            </ion-label>
            <ion-note slot="end" color="primary"></ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="remove(item)" color="danger">
              <ion-icon slot="top" name="trash"></ion-icon>
              Supprimer
            </ion-item-option>
            <ion-item-option button [routerLink]="['/ordinateurs', item.id]" color="secondary">
              <ion-icon slot="top" name="create"></ion-icon>
              Modifier
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-toolbar color="successs">
    <ion-title>Liste des Utilisateurs</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ng-container *ngIf="!utilisateurs || utilisateurs.length == 0">
          <div *ngFor="let n of [0,1,2, 3]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of utilisateurs">
          <ion-item>
            <ion-label>
              {{item.nom}} {{item.prenom}}
              <p></p>
            </ion-label>
            <ion-note slot="end" color="primary"></ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="remove(item)" color="danger">
              <ion-icon slot="top" name="trash"></ion-icon>
              Supprimer
            </ion-item-option>
            <ion-item-option button [routerLink]="['/utilisateurs', item.id]" color="secondary">
              <ion-icon slot="top" name="create"></ion-icon>
              Modifier
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="success">
        <ion-icon name="person-add" routerLink="/utilisateurs" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="success">
        <ion-icon name="desktop" routerLink="/ordinateurs" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button color="success">
        <ion-icon name="clipboard" routerLink="/affectations" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
