<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Affectation des ordinateurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="wrapitem">
      <ion-avatar>
        <img src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png">
      </ion-avatar>
      <ion-label>Bonjour Administrateur</ion-label>
    </div>
  </ion-card>

  <ion-list>
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of todos">
      <ion-item>
        <ion-label>
          {{item.priority + " " + item.task}}
          <p>{{item.dateUse | date:'medium'}}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{item.property}}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          Supprimer
        </ion-item-option>
        <ion-item-option button [routerLink]="['/details', item.id]" color="secondary">
          <ion-icon slot="top" name="create"></ion-icon>
          Modifier
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary">
        <ion-icon name="person-add" routerLink="/details" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="danger">
        <ion-icon name="desktop" routerLink="/affectations" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="danger">
        <ion-icon name="desktop" routerLink="/ordinateurs" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
